<div class="footer-container-tablet">
    <div class="footer-top">
        <div class="footer-logo container-footer-item">
            <a class="text-logo">
                <svg class="footer-logo-svg" width="127" height="16">
                    <use href="../img/icons.svg#icon-logo"></use>
                </svg>
            </a>
            <div class="footer-address-container">
                <address class="footer-address">
                    <ul class="footer-list-address">
                        <li><a class="footer-contact-link" href="#">Obolonsky Prospect, 14, Kyiv</a></li>
                        <li><a class="footer-contact-link" href="#">Daily 10:00-21:00</a></li>
                    </ul>
                    <ul class="footer-info-class">
                        <li><a class="footer-contact-link" href="tel:+380669384758">+380669384758</a></li>
                        <li><a class="footer-contact-link" href="tel:+380679384758">+380679384758</a></li>
                        <li><a class="footer-contact-link-email" href="mailto:minimal.furniture@gmail.com">minimal.furniture@gmail.com</a></li>
                    </ul>
                </address>
            </div>
        </div>
        <div class="footer-menu container-footer-item">
            <ul class="footer-nav footer-list">
                <li class="footer-list-item"><a href="#about-us">About us</a></li>
                <li class="footer-list-item"><a href="#our-products">Our products</a></li>
                <li class="footer-list-item"><a href="#prices">Prices</a></li>
                <li class="footer-list-item"><a href="#bestsellers">Bestsellers</a></li>
                <li class="footer-list-item"><a href="#reviews">Reviews</a></li>
            </ul>
        </div>
        <div class="footer-social container-footer-item">
            <ul class="footer-social-media footer-list">
                <li class="footer-list-item">
                <a href="#" class="footer-customer-link">
                    <svg class="footer-socials-icons" width="40" height="40">
                        <use href="../img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
                    
                </li>
                <li class="footer-list-item">
                    <a href="#" class="footer-customer-link">
                        <svg class="footer-socials-icons" width="40" height="40">
                            <use href="../img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="#" class="footer-customer-link">
                        <svg class="footer-socials-icons" width="40" height="40">
                            <use href="../img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>