<!-- <picture>
        <source
          srcset="
            ../img/about-us/about-img.jpg    1x,
            ../img/about-us/about-img-2x.jpg 2x
          "
          media="(min-width:1352px)"
        />
        <source
          srcset="
            ../img/about-us/about-img-tab.jpg    1x,
            ../img/about-us/about-img-tab-2x.jpg 2x
          "
          media="(min-width:736px)"
        />
        <source
          srcset="
            ../img/about-us/about-img-mob.jpg    1x,
            ../img/about-us/about-img-mob-2x.jpg 2x
          "
          media="(min-width:320px)"
        />
        <img
          class="about-us-img"
          src="../img/about-us/about-img.jpg"
          alt="product"
          width="767"
        />
      </picture> -->

<section class="about-us-section">
  <div class="container">
    <div class="about-us-top-side">
      <div class="container-about">
        <p class="about-us-signature">About us</p>
      </div>
      <h2 class="about-us-title title">
        Our сraftsmanship: сreating unique handmade furniture
      </h2>
      <p class="about-us-description">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="about-us-list">
        <li class="about-us-item">
          <h3 class="about-us-subtitle">5+</h3>
          <p class="about-us-text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="about-us-item">
          <h3 class="about-us-subtitle">100%</h3>
          <p class="about-us-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="about-us-item">
          <h3 class="about-us-subtitle">500+</h3>
          <p class="about-us-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <div class="about-us-bottom-side">
      <picture>
        <source
          srcset="
            ../img/about-us/about-img.jpg    1x,
            ../img/about-us/about-img-2x.jpg 2x
          "
          media="(min-width:1352px)"
        />
        <source
          srcset="
            ../img/about-us/about-img-tab.jpg    1x,
            ../img/about-us/about-img-tab-2x.jpg 2x
          "
          media="(min-width:736px)"
        />
        <source
          srcset="
            ../img/about-us/about-img-mob.jpg    1x,
            ../img/about-us/about-img-mob-2x.jpg 2x
          "
          media="(min-width:320px)"
        />
        <img
          class="about-us-img"
          src="../img/about-us/about-img.jpg"
          alt="product"
          width="767"
        />
      </picture>
    </div>
  </div>
</section>
