<section class="bestsellers-section">
  <div class="container">
    <h2 class="bestsellers-title">bestsellers</h2>
    <ul class="bestsellers-list list">
      <li class="bestsellers-item-main">
        <div class="bestsellers-item-big">
          <picture>
            <source
              srcset="
                ../img/bestsellers/bestsellers-desk-1.jpg    1x,
                ../img/bestsellers/bestsellers-desk-1-2x.jpg 2x
              "
              media="(min-width:1158px)"
            />
            <source
              srcset="
                ../img/bestsellers/bestsellers-tab-1.jpg    1x,
                ../img/bestsellers/bestsellers-tab-1-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../img/bestsellers/bestsellers-mob-1.jpg    1x,
                ../img/bestsellers/bestsellers-mob-1-2x.jpg 2x
              "
              media="(min-width:375px)"
            />
            <img
              class="bestsellers-main-img"
              src="../img/bestsellers/bestsellers-main-1.jpg"
              alt="big-grey-bed"
              width="343"
              height="193"
            />
          </picture>
          <h3 class="bestsellers-text">The modern platform bed</h3>
          <h3 class="bestsellers-text">750$</h3>
        </div>
      </li>

      <div class="bestsellers-item-secondary">
        <li class="bestsellers-item">
          <picture>
            <source
              srcset="
                ../img/bestsellers/bestsellers-desk-2.jpg    1x,
                ../img/bestsellers/bestsellers-desk-2-2x.jpg 2x
              "
              media="(min-width:1158px)"
            />
            <source
              srcset="
                ../img/bestsellers/bestsellers-tab-2.jpg    1x,
                ../img/bestsellers/bestsellers-tab-2-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../img/bestsellers/bestsellers-mob-2.jpg    1x,
                ../img/bestsellers/bestsellers-mob-2-2x.jpg 2x
              "
              media="(min-width:375px)"
            />
            <img
              class="bestsellers-img"
              src="../img/bestsellers/bestsellers-main-2.jpg"
              alt="two-grey-chair-some-wooden-furniture"
              width="343"
              height="193"
            />
          </picture>
          <h3 class="bestsellers-text">The Cozy Lounge Chair</h3>
          <h3 class="bestsellers-text">230$</h3>
        </li>
        <li class="bestsellers-item">
          <picture>
            <source
              srcset="
                ../img/bestsellers/bestsellers-desk-3.jpg    1x,
                ../img/bestsellers/bestsellers-desk-3-2x.jpg 2x
              "
              media="(min-width:1158px)"
            />
            <source
              srcset="
                ../img/bestsellers/bestsellers-tab-3.jpg    1x,
                ../img/bestsellers/bestsellers-tab-3-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../img/bestsellers/bestsellers-mob-3.jpg    1x,
                ../img/bestsellers/bestsellers-mob-3-2x.jpg 2x
              "
              media="(min-width:375px)"
            />
            <img
              class="bestsellers-img"
              src="../img/bestsellers/bestsellers-main-3.jpg"
              alt="industrial-black-chair-and-table"
              width="343"
              height="193"
            />
          </picture>
          <h3 class="bestsellers-text">The industrial accent chair</h3>
          <h3 class="bestsellers-text">250$</h3>
        </li>
        <li class="bestsellers-item-extended bestsellers-item">
          <picture>
            <source
              srcset="
                ../img/bestsellers/bestsellers-desk-4.jpg    1x,
                ../img/bestsellers/bestsellers-desk-4-2x.jpg 2x
              "
              media="(min-width:1158px)"
            />
            <source
              srcset="
                ../img/bestsellers/bestsellers-tab-4.jpg    1x,
                ../img/bestsellers/bestsellers-tab-4-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              class="bestsellers-img"
              src="../img/bestsellers/bestsellers-main-4.jpg"
              alt="wooden-drawer-with-vases-on-it"
              width="336"
              height="193"
            />
          </picture>
          <h3 class="bestsellers-text">The sleek stand</h3>
          <h3 class="bestsellers-text">300$</h3>
        </li>
        <li class="bestsellers-item-extended bestsellers-item">
          <picture>
            <source
              srcset="
                ../img/bestsellers/bestsellers-desk-5.jpg    1x,
                ../img/bestsellers/bestsellers-desk-5-2x.jpg 2x
              "
              media="(min-width:1158px)"
            />
            <source
              srcset="
                ../img/bestsellers/bestsellers-tab-5.jpg    1x,
                ../img/bestsellers/bestsellers-tab-5-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              class="bestsellers-img"
              src="../img/bestsellers/bestsellers-main-3.jpg"
              alt="grey-sofa"
              width="336"
              height="193"
            />
          </picture>
          <h3 class="bestsellers-text">The minimalist sofa</h3>
          <h3 class="bestsellers-text">650$</h3>
        </li>
      </div>
    </ul>
  </div>
</section>
