<section class="reviews-section" id="reviwes">
    <div class="reviwes-div">
        <h2 class="reviews-title">Clients reviews</h2>
        <ul class="reviews-list clients-list">
            <li class="reviews-item child-one">
                <div class="reviwes-users-containers">
                    <div class="reviews-user-div">
                    <img srcset="./img/images-clients-reviwes/Alexandra.jpg 1x, ./img/images-clients-reviwes/Alexandra2x.jpg 2x" class="reviews-photos" alt="Alexandra dream" width="56" height="56">
                    <div class="reviwes-peoples">
                        <h3 class="reviews-name-user">Alexandra dream</h3>
                        <p class="reviews-time-ago">1 week ago</p>
                    </div>
                    </div>
                    <p class="reviews-text">I was blown away by the quality and craftsmanship of the furniture I received from this company. Each piece was unique
                    and beautifully designed, and you can tell that a lot of thought and care goes into every detail.</p>
                </div>
            </li>
            <li class="reviews-item child-two">
                <div class="reviwes-users-containers">
                    <div class="reviews-user-div">
                        <img srcset="./img/images-clients-reviwes/James.jpg  1x, ./img/images-clients-reviwes/James2x.jpg" class="reviews-photos" alt="James Williams" width="56" height="56">
                        <div class="reviwes-peoples">
                            <h3 class="reviews-name-user">James Williams</h3>
                            <p class="reviews-time-ago">A week ago</p>
                        </div>
                    </div>
                    <p class="reviews-text">
                        The "Minimal" furniture set is a fantastic addition to my home. It boasts a minimalist design, enhancing the feel and
                        look of my living space. The sturdy construction is worth noting too, which speaks volumes about its durability.
                    </p>
                </div>
            </li>
            <li class="reviews-item child-three">
                <div class="reviwes-users-containers">
                    <div class="reviews-user-div">
                        <img srcset="../img/images-clients-reviwes/Emily.jpg  1x, ./img/images-clients-reviwes/Emily2x.jpg" class="reviews-photos" alt="Alexandra dream" width="56" height="56">
                        <div class="reviwes-peoples">
                            <h3 class="reviews-name-user">Emily Watson</h3>
                            <p class="reviews-time-ago">3 week ago</p>
                        </div>
                    </div>
                    <p class="reviews-text">
                        The "Minimal" furniture set has far exceeded my expectations. The sleek design combined with the high-quality materials
                        have not only added an exceptional aesthetic to my space but also offered an uncompromising standard of comfort.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>