<footer class="footer">
    
    <div class="container-footer">
        <!-- Mobile -->
        <load ="partials/footer/mobile.html" />
        <!-- Tablet -->
        <load ="partials/footer/tablet.html" />
        <!-- Desktop -->
        <load ="partials/footer/desktop.html" />

        <div class="footer-consent">
            <p class="footer-text">
                By using this website, you agree to the 
                <a href="#" class="modal-check-link">Terms of Service</a> and 
                <a href="#" class="modal-check-link">Privacy Policy</a>
            </p>
        </div>

    </div>
</footer>