<section class="our-products-section">
  <div class="container">
    <h2 class="our-products-title">our products</h2>
    <ul class="our-products-list list">
      <li class="our-products-item">
        <picture class="our-products-picture">
          <source
            srcset="
              ../img/our-products/our-products-desk-1.jpg    1x,
              ../img/our-products/our-products-desk-1-2x.jpg 2x
            "
            media="(min-width:1158px)"
          />
          <source
            srcset="
              ../img/our-products/our-products-tab-1.jpg    1x,
              ../img/our-products/our-products-tab-1-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../img/our-products/our-products-mob-1.jpg    1x,
              ../img/our-products/our-products-mob-1-2x.jpg 2x
            "
            media="(min-width:375px)"
          />
          <img
            class="our-products-img"
            src="../img/our-products/our-products-main-1.jpg"
            alt="small-wooden-table-with-drawers"
            width="343px"
            height="300px"
          />
        </picture>
        <h3 class="our-products-text">Minimalist storage solutions</h3>
      </li>
      <li class="our-products-tablet our-products-item">
        <picture class="our-products-picture">
          <source
            srcset="
              ../img/our-products/our-products-desk-2.jpg    1x,
              ../img/our-products/our-products-desk-2-2x.jpg 2x
            "
            media="(min-width:1158px)"
          />
          <source
            srcset="
              ../img/our-products/our-products-tab-2.jpg    1x,
              ../img/our-products/our-products-tab-2-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <img
            class="our-products-img"
            src="../img/our-products/our-products-main-2.jpg"
            alt="blue-sofa-and-wooden-chair"
            width="344px"
            height="300px"
          />
        </picture>

        <h3 class="our-products-text">Handcrafted minimalist seating</h3>
      </li>
      <li class="our-products-desk our-products-item">
        <picture class="our-products-picture">
          <source
            srcset="
              ../img/our-products/our-products-desk-3.jpg    1x,
              ../img/our-products/our-products-desk-3-2x.jpg 2x
            "
            media="(min-width:1158px)"
          />
          <img
            class="our-products-img"
            src="../img/our-products/our-products-main-3.jpg"
            alt="wooden-table-and-4-chairs"
            width="312px"
            height="300px"
          />
        </picture>
        <h3 class="our-products-text">Sleek and simple tables</h3>
      </li>
      <li class="our-products-desk our-products-item">
        <picture class="our-products-picture">
          <source
            srcset="
              ../img/our-products/our-products-desk-4.jpg    1x,
              ../img/our-products/our-products-desk-4-2x.jpg 2x
            "
            media="(min-width:1158px)"
          />
          <img
            class="our-products-img"
            src="../img/our-products/our-products-main-4.jpg"
            alt="blue-wooden-chair"
            width="312px"
            height="300px"
          />
        </picture>
        <h3 class="our-products-text">Minimalist seating for every space</h3>
      </li>
    </ul>
  </div>
</section>
