<section class="price-section">
  <div class="container">
    <h2 class="price-title visually-hidden">
      Chairs Tables Dressers Sofas Price
    </h2>
    <ul class="price-list">
      <li class="price-item current">
        <h3 class="price-header">
          <a href="" class="price-link title">Chairs</a>
        </h3>
        <p class="price-description">from 200$</p>
      </li>
      <li class="price-item current">
        <h3 class="price-header">
          <a href="" class="price-link title">Tables</a>
        </h3>
        <p class="price-description">from 250$</p>
      </li>
      <li class="price-item current">
        <h3 class="price-header">
          <a href="" class="price-link title">Dressers</a>
        </h3>
        <p class="price-description">from 300$</p>
      </li>
      <li class="price-item current">
        <h3 class="price-header">
          <a href="" class="price-link title">Sofas</a>
        </h3>
        <p class="price-description">from 500$</p>
      </li>
    </ul>
  </div>
</section>
