.reviews-section {
    padding-bottom: 60px;
    padding-top: 36px;
}

.review-title {
    margin-bottom: 30px;
}

.reviews-item {
    padding: 24px;
}

.reviwes-info {
    position: relative;
    padding-left: 62px;
    max-height: 48px;
}

.reviews-img {
    width: 48px;
    height: 48px;
    position: absolute;
        left: 0;
}

.reviews-user-name {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.77;
    margin-bottom: 2px;
}

.reviews-time {
    font-size: 14px;
    line-height: 1.29;
}









