.footer-container-tablet, .footer-container-desktop {
    display: none;
}

.footer {
    height: 523px;
    background-color: var(--blue-font);
}

.container-footer {
    width: 100%;
    color: var(--white-cl);
    padding-left: 16px;
    padding-right: 16px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    margin-top: 42px;
    margin-bottom: 42px;
    fill: var(--white-cl);

}

.footer-logo-svg {
    width: 100px;
    height: 16px;
}

.footer-list-item {
    gap: 16px;
}

.footer-social-media {
    display: flex;
    margin-top: 36px;
    gap: 16px;
}

.footer-socials-icons {
    width: 28px;
    height: 28px;
    fill: var(--white-cl);
}

.footer-menu {
    width: 50%;
}
.footer-social {
    display: flex;
}

.footer-nav {
    margin-bottom: 36px;
}

.footer-list-address {
    margin-bottom: 36px;
}

.footer-info-class {
    margin-top: 35px;
    margin-bottom: 64px;
}

.footer-contact-link-email {
    display: none;
}

.footer-text {
    opacity: 0.6;
    line-height: 14px;
    letter-spacing: 1.188px;
    font-size: 12px;
    text-align: center;
}

.modal-check-link {
    text-decoration-line: underline;
}

@media screen and (min-width: 375px) {

    @media screen and (min-width: 425px) and (max-width: 767px) {
        .footer-top, .footer-address-container, .footer-consent {
            margin: 0 auto;
        }
    }
    

    @media screen and (min-width: 375px) and (max-width: 400px) {
        .footer-top, .footer-address-container, .footer-consent {
            width: 355px;
        }
    }

    @media screen and (min-width: 401px) and (max-width: 767px) {
        .footer-top, .footer-address-container, .footer-consent {
            width: 375px;
        }
    }

    .container-footer {
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
    }

    .footer-logo-svg {
        width: 100px;
        margin-top: 42px;
        margin-bottom: 42px;
        fill: var(--white-cl);
    }

    .footer-socials-icons {
        width: 28px;
        height: 28px;
        fill: var(--white-cl);
    }

    .footer-menu {
        width: 50%;
    }

    .footer-social-media {
        display: flex;
        margin-top: 36px;
        gap: 16px;
    }
    .footer-social {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    .footer-nav {
        margin-bottom: 36px;
        width: 375px;
    }

    .footer-list-address {
        margin-bottom: 36px;
    }

    .footer-info-class {
        margin-top: 35px;
        margin-bottom: 64px;
    }

    .footer-contact-link-email {
        display: none;
    }

    .footer-text {
        opacity: 0.6;
        line-height: 14px;
        letter-spacing: 1.188px;
        font-size: 12px;
        text-align: center;
    }

    .footer-logo {
        margin-top: 0;
        margin-bottom: 0;
    }


}

@media screen and (min-width: 767px) {

    .footer-container-mobile, .footer-container-desktop {
        display: none;
    }

    .footer-container-tablet {
        width: 768px;
        margin: 0 auto;
        display: block;
    }

    .container-footer-item {
        width: calc((100% / 3));
    }

    .footer {
        height: 462px;
    }

    .footer-top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .container-footer {
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer-logo-svg {
        width: 127px;
        height: 16px;
        margin-top: 48px;
        margin-bottom: 32px;
        fill: var(--white-cl);
    }

    .footer-menu, .footer-social {
        display: flex;
        justify-content: center;
    }

    .footer-socials-icons {
        width: 40px;
        height: 40px;
        fill: var(--white-cl);
    }

    .footer-social-media {
        display: flex;
        margin-top: 36px;
        gap: 16px;
    }

    .footer-list-address {
        margin-bottom: 64px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .footer-info-class {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 64px;

    }

    .footer-nav  {
        margin-top: 44px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .footer-contact-link-email {
        display: block;
    }

    .footer-list-item {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 27px;
        font-style: normal;
        font-weight: 400;
    }

    .footer-text {
        opacity: 0.6;
        line-height: 20px;
        letter-spacing: 1.188px;
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        
    }

    .modal-check-link {
        text-decoration-line: underline;
    }

    .footer-logo {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1440px) {

    .footer-container-mobile, .footer-container-tablet {
        display: none;
    }


    .footer-container-desktop {
        height: 181px;
        display: flex;
        flex-wrap: wrap;
    }

    .footer {
        width: 100%;
        height: 262px;
        background-color: var(--blue-font);
    }

    .container-footer {
        width: 1440px;
        color: var(--white-cl);
        padding-left: 60px;
        padding-right: 60px;
        margin: 0 auto;
    }

    .container-footer-item {
        width: calc((100% / 3));
    }

    .footer-logo-svg {
        width: 127px;
        height: 16px;
        margin-top: 48px;
        margin-bottom: 32px;
        fill: var(--white-cl);
    }

    .footer-social {
        display: flex;
        justify-content: flex-end;
    }

    .footer-menu {
        justify-content: normal;
        display: inline-flex;
        padding: 8px;
        align-items: center;
        gap: 30px;
    }

    .footer-socials-icons {
        width: 40px;
        height: 40px;
        fill: var(--white-cl);
    }

    .footer-social-media {
        display: flex;
        margin-top: 36px;
        gap: 16px;
    }

    .footer-info-class {
        margin-top: 0;
        margin-bottom: 0;
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        line-height: 27px;
        font-style: normal;
        margin-top: 44px;
    }

    .footer-contact-link-email {
        display: block;
    }

    .footer-list-address {
        gap: 24px;
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.19px;
        font-family: "Roboto", sans-serif;

    }

    .footer-info-class {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.19px;
        font-family: "Roboto", sans-serif;
    }

    .footer-address-link {
        width: calc((50% - 48px))
    }

    .footer-text {
        opacity: 0.6;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        letter-spacing: 1.188px;
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin-top: 35px;
    }

    .modal-check-link {
        text-decoration-line: underline;
    }
    .footer-list-item {
        white-space: nowrap;
    }

    .footer-logo {
        margin-top: 0;
        margin-bottom: 0;
    }


}

