
.footer {
  background-color: var(--blue-font);
  color: var(--white-cl);
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 36px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 42px;
  align-items: center;
}
.footer-logo a {
  display: block;
}
.footer-logo-svg {
  width: 100px;
  height: 16px;
  fill: var(--white-cl);
}
.footer-list-item {
  gap: 16px;
}
.footer-social {
  display: flex;
  justify-content: flex-end;
}
.footer-customer-link {
  display: block;
}
.footer-social-media {
  display: flex;
  gap: 16px;
}
.footer-socials-icons {
  width: 28px;
  height: 28px;
  fill: var(--white-cl);
}
.footer-menu {
  width: 50%;
  margin-bottom: 36px;
}
.footer-list-address, .footer-nav, .footer-info-class {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-list-address {
  margin-bottom: 36px;
}
.footer-info-class {
  margin-top: 35px;
  margin-bottom: 64px;
}
.footer-contact-link-email {
  display: none;
}
.footer-text {
  opacity: 0.6;
  line-height: 14px;
  letter-spacing: 0.099em;
  font-size: 12px;
  text-align: center;
}
.modal-check-link {
  text-decoration-line: underline;
}
.footer-list-item:hover, .footer-list-item:focus,
.footer-contact-item:hover, .footer-contact-item:focus
{
  opacity: 0.6;
  transition: opacity 300ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 36px;
  }
  .container-footer-item {
    width: calc((736px / 3));
  }
  .footer-top {
    position: relative;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: normal;
  }
  .footer-logo {
    position: absolute;
    left: 0;
    margin-bottom: 32px;
  }
  .footer-logo-svg {
    width: 127px;
    height: 16px;
  }
  .footer-menu {
    position: absolute;
    right: 248px;
  }
  .footer-socials-icons {
    width: 40px;
    height: 40px;
  }
  .footer-address-container {
    font-size: 19px;
    line-height: normal;
    letter-spacing: 0.01em;
  }
  .footer-list-address {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .footer-info-class {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }
  .footer-menu {
    display: flex;
    justify-content: flex-end;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .footer-contact-link-email {
    display: block;
  }
  .footer-list-item {
    font-size: 18px;
  }
  .footer-consent {
    display: flex;
    justify-content: center;
  }
  .footer-text {
    line-height: 20px;
    font-size: 16px;
    margin-top: 64px;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    padding-bottom: 36px;
  }
  .container-footer-item {
    width: auto
  }
  .footer-top {
    width: 1320px;
    margin-bottom: 24px;
  }
  .footer-menu {
    right: 483px;
    margin: 0;
  }
  .footer-nav {
    gap: 30px;
    flex-direction: row;
  }
  .footer-list-address {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.012em;
    margin: 0 87px 0 0;
  }
  .footer-address {
    display: flex;
  }
  .footer-info-class {
    margin: 0 82px 0 0;
  }
  .footer-consent {
    width: 1320px;
  }
}