.hero-section {
  background-color: var(-grey-cl);
  background-image: url(/img/hero/hero-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 375px;
}
.hero-wrap {
  padding-top: 140px;
  padding-bottom: 313px;
}
.hero-title {
  font-family: 'Playfair Display', serif;
  text-align: left;
  margin-bottom: 14px;
  width: 285px;
}
.hero-text {
  margin-bottom: 28px;
}

.hero-link {
  display: block;
  width: 224px;
  transition: background-color 300ms ease-in-out;
  text-align: center;
}
.hero-link:hover,
.hero-link:focus,
.hero-link:active {
  background-color: #061835;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: url(/img/hero/hero-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-bottom: 100px;
    padding-top: 64px;
    background-image: none;
  }
  .hero-wrap {
    padding-top: 0;
    padding-bottom: 0;
  }
  .hero-title-wrap {
    padding-bottom: 378px;
    background-image: url(/img/hero/hero-tab-1-1x.jpg),
      url(/img/hero/hero-tab-2-1x.jpg);
    background-repeat: no-repeat;
    background-position: left bottom, right;
    background-size: 308px, 364px;
    margin-bottom: 32px;
  }
  .hero-title {
    font-size: 50px;
    width: 648px;
  }
  .hero-text-wrap {
    max-width: 312px;
  }
  .hero-text {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .hero-link {
    line-height: 1.33;
    padding: 17px 65px;
    font-size: 18px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-title-wrap {
      background-image: url(/img/hero/hero-tab-1-2x.jpg),
        url(/img/hero/hero-tab-2-2x.jpg);
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero-title-wrap {
    background-image: none;
    padding: 0;
    margin-bottom: 246px;
  }
  .hero-title {
    margin-bottom: 0;
  }
  .hero-text-wrap {
    margin-left: auto;
  }
  .hero-link {
    padding: 13px 65px;
  }
  .hero-wrap {
    background-image: url(/img/hero/product-1desk-1x.jpg),
      url(/img/hero/product-2desk-1x.jpg), url(/img/hero/product-3desk-1x.jpg);
    background-size: 310px, 648px, 312px;
    background-repeat: no-repeat;
    background-position: bottom left 16px, center, top right 16px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: url(../img/hero/product-1desk-2x.jpg),
        url(/img/hero/product-2desk-2x.jpg), url(/img/hero/product-3desk-2x.jpg);
    }
  }
}
