.our-products-section {
  padding-top: 64px;
}

.our-products-title {
  margin-bottom: 33px;
}

.our-products-img {
  margin-bottom: 16px;
}

.our-products-text {
  font-size: 16px;
  font-weight: 400;
}

.our-products-tablet {
  display: none;
}

.our-products-desk {
  display: none;
}

/* Mobile */
@media screen and (min-width: 375px) {
}

/* Tablet */
@media screen and (min-width: 768px) {
  .our-products-section {
    padding-top: 100px;
  }

  .our-products-list {
    display: flex;
    gap: 16px;
  }

  .our-products-item {
    width: calc((100% - 16px) / 2);
  }

  .our-products-title {
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 30px;
  }

  .our-products-img {
    margin-bottom: 15px;
  }
  .our-products-text {
    font-size: 18px;
  }

  .our-products-tablet {
    display: block;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .our-products-list {
    gap: 24px;
  }

  .our-products-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .our-products-desk {
    display: block;
  }
}
