.price-section {
  padding-bottom: 64px;
}

.price-list {
  display: flex;
  flex-direction: column;
}

.price-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--blue-font, #0a224a);
  padding: 30px 0px;
  position: relative;
}

.price-item:first-child {
  border-top: 1px solid var(--blue-font, #0a224a);
}

.price-link {
  display: block;
  transition: 200ms transform 300ms ease;
}

.price-item:hover .price-link {
  transform: translatex(80px);
}

.current {
  position: absolute;
}

.current::after {
  height: 4px;
  width: 60px;
  border-radius: 2px;
  background: var(--blue-font);
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  opacity: 0;
  transition: 200ms opacity 300ms ease;
}

.price-item:hover .current::after {
  opacity: 1;
}

.price-description {
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .price-section {
    padding-bottom: 100px;
  }

  .price-link {
    font-size: 32px;
    line-height: 1.4;
  }

  .price-description {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .price-section {
    padding: 0 26px 100px 26px;
  }
}
