.price-section {
  padding-bottom: 64px;
  /* padding: 64px 0; */
}

.price-list {
  display: flex;
  flex-direction: column;
}

.price-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--blue-font, #0a224a);
  padding: 30px 0px;
}

.price-item:first-child {
  border-top: 1px solid var(--blue-font, #0a224a);
}

.price-link {
  display: block;
  transition: transform 300ms ease-in-out;
}

.price-link:hover {
  transform: translatex(60px);
}

.current {
  position: relative;
}

.current::after {
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background: var(--blue-font);
  content: '';
  position: absolute;
  left: -60px;
  top: 50%;
  /* opacity: 0; */
  display: none;
}

.price-item:hover .current::after {
  /* opacity: 1; */
  display: block;
}

.price-description {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .price {
    padding-bottom: 100px;
  }
  .container {
    max-width: 736px;
  }

  .price-list {
    max-width: 704px;
  }

  .price-item {
    max-width: 704px;
  }

  .price-header {
    font-size: 32px;
    line-height: 1.4;
  }

  .price-description {
    font-size: 18px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1352px;
  }

  .price-list {
    max-width: 1352px;
  }

  .price-item {
    max-width: 1352px;
  }
}
